body {
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 3px;
    font-family:'Gill Sans';
    font-size: 13px;
}

img {
    max-width: 400px;
    max-height: 400px;
}